/*background-image: url(../pictures/blue.jpeg);*/

/*Body*/
body {
    font-family: 'Montserrat', sans-serif;
    background: white;
    color: black;
    text-align: left;
    margin: 0;
    margin-top: 60px;
}

/*Navigation*/
nav {
  display: flex;
  justify-content: center;
  color: white;    
  background: black;
  overflow: hidden;
  font-family: 'Major Mono Display', monospace;
  position: fixed;
  top: 0;
  width: 100%;
  color: -webkit-link;
  z-index: 100;   
}

nav a {
  float: left;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  color: white; 
}

.nav1:hover {
  background: rgba(255, 0, 0, 85%); 
}

.nav2:hover {
  background: rgba(255, 165, 0, 85%); 
}

.nav3:hover {
  background: rgba(255, 255, 0, 85%); 
}

.nav4:hover {
  background: rgba(0, 255, 0, 85%); 
}

.nav5:hover{
  background: rgba(0, 0, 255, 85%); 
}

.current {
  background: white;
  color: black; 
}

/*Projects*/

.ProjectGallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
}

.ProjectGallery>div {
    height: 590px;
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
}

.ProjectGallery div a video{
    width: 100%;
}

.overlay {
  position: absolute;  
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  transition: .5s ease; 
  bottom: 100%;
  width: 100%;    
}

.project1Container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.project2Container:hover .overlay {
  bottom: 0;
  height: 100%; 
}

.project3Container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.project4Container:hover .overlay {
  bottom: 0;
  height: 100%; 
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 18px;
  position: relative;
  transition: .5s ease; 
  top: 90%;
  text-align: center;    
}

/*About Me*/

.IntroGrid {
   display:grid;
   grid-template-columns: 2fr 1fr;
}

.Introduction {
    padding:50px;
}

.MyPicture {
    border-radius: 50%;
    display: block;
    margin: auto;
    max-width: 300px;
}

.AboutMe{
    display: grid;
    grid-template-columns: 0.8fr 2.3fr;
    padding-left: 50px;
    padding-bottom: 50px;
}

.MeText {
    padding-right: 70px;
}

.IntroLine {
    border-top: 10px solid turquoise;
}

.Interested {
    padding-bottom: 20px;
}

.MyPhotos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    border-top: 20px solid black;
}

.aboutPhoto {
   width: 100%;
   max-width: 100%;
}

/*4 Projects*/

.ProjectGrid {
    display:grid;
    grid-template-columns: 1fr 2fr;
    padding: 70px 90px 80px 90px;
}

.ProjectGrid video {
    height: 370px;
    width:auto;
}

.ProjectGrid section:nth-child(2n) {
    border-right: 10px solid turquoise;
    padding: 0px 50px 30px 30px;
}

.ProjectGrid section:last-child {
    border-bottom: 10px solid turquoise;  
    margin-bottom: 4px;
}

#CreativeArtwork {
    height: 350px;
    width: auto;
    margin-top: 20px;
    border: 5px solid black;
}

.ProjectGrid img {
    width:350px;
    margin-top: 30px;
}

#BlackHoleGraph {
    width: 242px;
    height: auto;
    margin-bottom: 20px;
}

#GroupPic {
    width: auto;
    height: 232.031px;
    margin: 0px 0px 20px 50px;
}

.Bespoke {
    padding: 70px 90px 80px 90px;;
}

.ProjectOverview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 10px solid turquoise;  
    border-top: 10px solid turquoise; 
    padding: 30px 30px 20px 30px;
    margin-top: 40px;
}

.Arrow {
    width: 80px;
    height: auto;
    margin-left: 40px;
    margin-bottom: -5px;
}

.ProcessDescription {
    margin-top: 30px;
}

.phase {
    margin: 10px;
}

.BespokeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 30px;
}

.BespokeGrid img{
    width:380px;
    border: 2px solid black;  
}

#Mindmap {
    width: 380px;
    height: auto;
    transform: rotate(-90deg);
    grid-row: 1 / -1; 
    align-self: center; 
    margin: -60px 0px -50px 70px;
}

.LeftText {
    padding-right: 40px;
    padding-bottom: 20px;
}

#Persona {
    width: 600px;
    height: auto;
    align-self: center; 
}

#Mindmap {
    width: 380px;
    height: auto;
    transform: rotate(-90deg);
    grid-row: 1 / -1; 
    align-self: center; 
    margin: -60px 0px -50px 70px;
}

#UnwrappingIdeas {
    width: 537px; 
}

#ToolIdeas {
    width: 537px; 
}

#Storyboard1 {
    width: 537px; 
}

#Storyboard2 {
    width: 537px; 
}

.Slideshow1 {
    margin-top: 15px;
    margin-bottom: 30px;
}

#SlideshowContainer1 button {
    font-size: 20px;
    margin: -15px 0px 15px 0px;
}

#HallmarkLogo {
    border: 0;
    margin-left: 70px;
    width: 350px;
}

#Testing2 {
   transform: rotate(180deg);
   width: 537px;    
}

#ProtoVideo {
  border: 2px solid black;  
  margin-bottom: 30px;
}

#FinalPrototype {
    width: 530px;
    height: auto;
    padding: 35px 20px;
    margin-left: 40px;
    margin-top: 20px;
}

/*Contact Info*/
Contact {
  color: white;    
  background: #046E8F;
  overflow: hidden;
}

footer {
  display: flex;
  justify-content: center;
  color: white;    
  background: black;
  overflow: hidden;
  font-family: 'Major Mono Display', monospace;
  padding-top: 40px;
  padding-bottom: 0;  
  text-align: center;    
}

footer a {
  float: left;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

footer a:hover{
  background: rgba(255, 255, 255, 25%);
}

/*Education / Work Experience*/
.education {
    padding: 50px 50px 0px 50px;
    display:grid;
    grid-template-columns: 53% 20% 20%;
}

.workExperience {
    padding: 20px 50px 0px 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.WorkVideo{
    margin: 50px 0px 0px 20px;
}

.WorkInfo ul {
    border-right: 10px solid turquoise;
    margin-right: 34px;
    padding: 0px 50px 0px 10px;
}

.WorkInfo {
    padding-top: 5px;
}

.WorkPhoto {
    max-width: 350px;
    padding: 30px 0px 0px 20px;
}

.Achievements {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px 0px 0px 70px;
}

.Achievements img {
    max-width:600px;
    padding-right: 84px;
}

.AchieveInfo {
    border-right: 10px solid turquoise;
    border-top: 10px solid turquoise;
    padding: 30px 40px 0px 20px;
    margin-right: 80px;
}

.EduInfo {
    padding-left: 19px;  
}

.EduInfo ul {
    border-bottom: 10px solid turquoise;
    padding-bottom: 30px;
}

.EducationPhoto1 {
    transform: rotate(90deg);
    margin: 80px 20px 20px 60px;
    display: block;
    max-width: 315px;
}

.EducationPhoto2 {
    transform: rotate(90deg);
    margin: 50px 20px 20px 50px;*/
    display: block;
    max-width: 315px;
}

.Skills {
    padding: 20px 50px 50px 50px;
    border: 10px solid turquoise;
    margin: 40px 80px 60px 80px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.SkillsTwo {
    margin-top: 67px;
}
    
 /*Home*/
.trailer {
  right: 0;
  bottom: 0;
  z-index: -100;
  background: black;
}

.trailer video {
    margin: 0 auto;
    display: block;
}

.AboutGrid {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    border-top: 20px solid turquoise;
}

.LeftEdge {
    background: black;
}

.RightEdge {
    background: black;
}

.introduction {
    text-align: center;
}

.introduction header h2:last-of-type {
    margin-top: 40px;
}

.introduction h1 span {
    font-size: 40px;
    text-align: center; 
    background: rgba(64,224,208,0.6)
}

.button {
  color: black;
  text-decoration: underline solid black;
  border-radius: 4px;
  font-weight: bold;
  font-size:20px;
}

.buttonText {
    margin: 20px;
}

.Introduction button {
  margin-left: -10px;    
}

.button:hover{
  color: #29a3a3;
  text-decoration: underline solid #29a3a3;
}

.introduction {
  padding-bottom: 100px;
  color: black;
  padding: 90px; 
   
}
    
    
    
