/*#046E8F*/


/*Body*/
body {
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: white;
    text-align:center;
}

/*Headings*/
h1, h2, h3 {
}

/*Navigation*/
nav {
  display: flex;
  justify-content: center;
  color: white;    
  background: black;
  overflow: hidden;
  font-family: 'Major Mono Display', monospace;
}

nav a {
  float: left;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

nav a:hover{
  background: rgba(255, 255, 255, 25%);
}

/*Projects*/
img {
    max-width:20%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} 

/*About Me*/
.MyPicture {
    border-radius: 50%;
}

.MyPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.aboutPhoto {
   width: 100%;

}

/*Contact Info*/
Contact {
  color: white;    
  background: #046E8F;
  overflow: hidden;
}

footer {
  display: flex;
  justify-content: center;
  color: white;    
  background: black;
  overflow: hidden;
  font-family: 'Major Mono Display', monospace;
}

footer a {
  float: left;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

footer a:hover{
  background: rgba(255, 255, 255, 25%);
}

/*Education / Work Experience*/
.education {
    border-style: dotted;
}

.workExperience {
    border-style: dotted;
    margin-top:  10px;
}
    
 /*Home*/
.trailer {
  right: 0;
  bottom: 0;
}

.introduction {
  background-image: url(../pictures/paper.jpeg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
  color: black; 
    
